body {
    background-color:#f2f3f5;
}

.container {
    box-shadow: 5px;
    background-color: white;
    padding: 40px;
}

h1 {
    text-align: center;
}

textarea {
    border: dashed;
    border-width: 2px;
    border-color: #d4d4d4;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

button {
    align-content: center;
}